ORIGINS=["http://example"]
ALLOW_CREDENTIALS = False
ALLOW_METHODS=['Your methods']
ALLOW_HEADERS=["Your headers"]
APP_NAME='my_main:app'
RELOAD=True
HOST='0.0.0.0'
PORT=80
REDIS_HOST='redis'
REDIS_PORT=6379
DATABASE_URL='mysql://username:password@server/db'